/*
 * SIDE
 */

.side-menu {
    -fx-padding: 10.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
}


.side-list-view, .side-list-view .jfx-list-cell {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: rgb(180, 210, 210);
    -fx-font-size: 20px;
    -fx-font-family: "Open Sans";
}

.side-list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: rgb(46, 86, 100);
}


.side-list-view .jfx-list-cell:filled:selected:focused, .side-list-view .jfx-list-cell:filled:selected {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-family: "Open Sans SemiBold";
}

.bottom-list-view .jfx-list-cell:filled:selected:focused, .bottom-list-view .jfx-list-cell:filled:selected {
    -fx-text-fill: rgb(180, 210, 210);
    -fx-font-family: "Open Sans";
}

.side-list-view .jfx-list-cell:filled:hover, .side-list-view .jfx-list-cell:hover {
    -fx-background-color: rgb(46, 80, 90);
    -fx-text-fill: white;
}

.side-vbox {
    -fx-background-color: rgb(23, 43, 61);
}

.side-menu-user > .label {
    -fx-font-size: 13px;
    -fx-text-fill: rgb(240, 240, 240);
}


.table-column {
    -fx-pref-height: 45;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}


.table-row-cell:selected {
    -fx-background-color: rgb(40, 80, 80);
    -fx-text-background-color: WHITE;
    -fx-table-cell-border-color: transparent #dddddd transparent transparent;
}


.table-view {
    -fx-background-insets: 0;
}

/*table view columns*/
.filler, .column-header, .show-hide-columns-button {
    -fx-background-color: #dddddd, white, white;
}


.column-header:hover, .show-hide-columns-button:hover {
    -fx-background-color: #dddddd, white, #f8f8f8;
}

.column-header-background > .filler {
    -fx-border-color: transparent #dddddd transparent transparent;
    -fx-border-insets: 0 1 0 0;
}

.column-drag-header {
    -fx-background-color: rgb(40, 80, 80);
}


.jfx-snackbar-content {
    -fx-background-color: #323232;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

/* check box */

.jfx-check-box {
    -fx-font-weight: BOLD;
    -jfx-checked-color: rgb(40, 80, 80);
    -fx-text-fill: WHITE;

}

.jfx-toggle-button {
    -jfx-toggle-color: rgb(40, 80, 80);

    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
}

/*
 * Market
 */
.market-list-view, .market-list-view .jfx-list-cell {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: rgb(0, 0, 0);
}

.market-list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: rgb(170, 170, 170);
}

.market-list-view .jfx-list-cell:hover {
    -fx-background-color: rgb(235, 235, 235);
}

.dashboard-top-tool-bar {
    -fx-background-color: linear-gradient(from 155% 155% to 0% 0%,
    #9828AD, #436AAC, #43B7B8);
}

.dashboard-top-tool-bar .jfx-text-field {

    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: WHITE;
    -fx-prompt-text-weight: BOLD;

    -jfx-unfocus-color: rgb(230, 230, 230);
    -jfx-focus-color: WHITE;
}

.dashboard-top-tool-bar .label {
    -fx-text-fill: WHITE;
}

.dashboard-top-tool-bar .jfx-combo-box {
    -jfx-unfocus-color: rgb(230, 230, 230);
    -jfx-focus-color: WHITE;
    -fx-prompt-text-fill: WHITE;
    -fx-prompt-text-weight: BOLD;

    -fx-font-weight: BOLD;
    -fx-text-fill: WHITE;
}

.dashboard-top-tool-bar .jfx-combo-box .cell {

    -fx-font-weight: BOLD;
    -fx-text-fill: WHITE;
}

.dashboard-top-tool-bar .jfx-combo-box .jfx-list-cell {
    -fx-background: linear-gradient(from 333% 333% to 0% 0%,
    #9828AD, #436AAC, #43B7B8);
    -fx-text-fill: WHITE;
}

.dashboard-left-tool-bar {
    -fx-background-color: rgb(23, 43, 61);
}

.dashboard-left-tool-bar .button {
    -fx-font-weight: BOLD;
    -fx-text-fill: WHITE;
}

.dashboard-left-tool-bar .jfx-combo-box .jfx-list-cell {
    -fx-background: rgb(23, 43, 61);
    -fx-text-fill: WHITE;
}

.dashboard-top-tool-bar .combo-box-popup .list-cell:hover {
    -fx-background-color: rgb(40, 80, 80);
}

.dashboard-top-tool-bar .combo-box-popup .list-view .list-cell .jfx-rippler {
    -jfx-rippler-fill: rgb(70, 70, 70);
}

.side-list-view .bottom-list-view {

}

.dashboard-table-view .jfx-combo-box {
    -jfx-unfocus-color: rgb(230, 230, 230);
    -jfx-focus-color: WHITE;
    -fx-prompt-text-fill: WHITE;
    -fx-prompt-text-weight: BOLD;

    -fx-text-fill: BLACK;
}

.dashboard-table-view .jfx-combo-box .cell {

    -fx-text-fill: BLACK;
}

.dashboard-table-view .jfx-combo-box .jfx-list-cell {
    -fx-background: WHITE;
    -fx-text-fill: BLACK;
}

.dashboard-table-view .combo-box-popup .list-cell:hover {
    -fx-background-color: rgb(230, 230, 230);
}

.dashboard-table-view .combo-box-popup .list-view .list-cell .jfx-rippler {
    -jfx-rippler-fill: rgb(70, 70, 70);
}

/*https://stackoverflow.com/questions/20489908/border-radius-and-shadow-on-imageview
https://stackoverflow.com/questions/37026738/how-to-set-radial-gradient-with-css-in-javafx
https://i.pinimg.com/originals/29/88/ed/2988ed3e99af32b8987f5a2ae880138e.png
https://uxplanet.org/top-50-dashboard-ui-kits-and-templates-in-2019-8583e41b775d?gi=2dbed476cea4
*/
.widget {
    -fx-background-radius: 8 8 8;
    /*-fx-background-color: WHITE;*/
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.27), 20, 0, 0, 0);
}

.widget:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 20, 0.1, 0, 0);
}

.widget-header {
    -fx-font-size: 23;
    -fx-font-weight: BOLD;
    -fx-text-fill: WHITE;
}

.widget-body {
    -fx-font-size: 15;
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
}

.widget-button {
    -fx-font-size: 16;
    -fx-text-fill: WHITE;
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.no-ripple .jfx-rippler {
    -jfx-rippler-fill: rgba(0, 0, 0, 0);
}

.gradient-white {
    -fx-background-color: WHITE;
}

.gradient-black {
    -fx-background-color: BLACK;
}

.gradient-a {
    -fx-background-color: linear-gradient(from 155% 155% to 0% 0%,
    #9828AD, #436AAC, #43B7B8);
}

.gradient-b {
    -fx-background-color: linear-gradient(from 155% 155% to 0% 0%,
    #FCCF3A, #DE791E, #EA5A6F);
}

.gradient-c {
    -fx-background-color: linear-gradient(from 155% 155% to 0% 0%,
    #FCFA67, #8CFC6B, #54D169);
}

.gradient-d {
    -fx-background-color: linear-gradient(from 155% 155% to 0% 0%,
    #FEB16D, #E33981, #BA3A69);
}

.gradient-e {
    -fx-background-color: linear-gradient(from 155% 155% to 0% 0%,
    #FFA3D5, #D76AFF, #7D17A2);
}

.gradient-f {
    -fx-background-color: linear-gradient(from 155% 155% to 0% 0%,
    #5FF9FF, #34E3AF, #29B58B);
}

.gradient-g {
    -fx-background-color: linear-gradient(from 125% 125% to 0% 0%,
    #B9C3FF, #14C1E0, #009FD5);
}

.gradient-h {
    -fx-background-color: linear-gradient(from 155% 155% to 0% 0%,
    #FBCA88, #EF69AD);
}

.gradient-i {
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%,
    rgb(65, 226, 152), rgb(59, 180, 182));
}

.gradient-j {
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%,
    rgb(20, 231, 216), rgb(91, 126, 233));
}

.gradient-k {
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%,
    rgb(245, 79, 160), rgb(254, 114, 121));
}

.gradient-l {
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%,
    rgb(225, 217, 65), rgb(255, 136, 87));
}

/* TODO: someone redesign this. It's way too colorful

 */