.side-menu {
    -fx-padding: 10.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;

}

.title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.jfx-list-view, .jfx-list-cell {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-spacing: 20;
}


.jfx-list-cell > .label {
    -fx-text-fill: rgb(180, 210, 210);
    -fx-font-size: 20px;
    -fx-font-family: "Open Sans";
}


.jfx-list-cell:filled:selected:focused > .label, .jfx-list-cell:filled:selected > .label {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-family: "Open Sans SemiBold";
}

.jfx-list-cell:filled:hover, .jfx-list-cell:hover {
    -fx-background-color: #293841;
    -fx-text-fill: white;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: rgb(40, 80, 80);
}

.side-vbox {
    -fx-background-color: rgb(40, 80, 80);
}

.side-menu-user > .label {
    -fx-font-size: 13px;
    -fx-text-fill: rgb(200, 200, 200);
}


.table-column {
    -fx-pref-height: 45;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}


.table-row-cell:selected {
    -fx-background-color: rgb(40, 80, 80);
    -fx-text-background-color: WHITE;
    -fx-table-cell-border-color: transparent #dddddd transparent transparent;
}


.table-view {
    -fx-background-insets: 0;
}

/*table view columns*/
.filler, .column-header, .show-hide-columns-button {
    -fx-background-color: #dddddd, white, white;
}


.column-header:hover, .show-hide-columns-button:hover {
    -fx-background-color: #dddddd, white, #f8f8f8;
}

.column-header-background > .filler {
    -fx-border-color: transparent #dddddd transparent transparent;
    -fx-border-insets: 0 1 0 0;
}

.column-drag-header {
    -fx-background-color: rgb(40, 80, 80);
}

.transparent-list-view {
    -fx-background-color: transparent;
}
.transparent-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10 0 10 0;
}