/*
 * SIDE
 */

.side-menu {
    -fx-padding: 10.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
}


.side-list-view, .side-list-view .jfx-list-cell {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: rgb(180, 210, 210);
    -fx-font-size: 20px;
    -fx-font-family: "Open Sans";
}

.side-list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #293841;
}


.side-list-view .jfx-list-cell:filled:selected:focused, .side-list-view .jfx-list-cell:filled:selected {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-family: "Open Sans SemiBold";
}

.side-list-view .jfx-list-cell:filled:hover, .side-list-view .jfx-list-cell:hover {
    -fx-background-color: #293841;
    -fx-text-fill: white;
}

.side-vbox {
    -fx-background-color: rgb(40, 80, 80);
}

.side-menu-user > .label {
    -fx-font-size: 13px;
    -fx-text-fill: rgb(200, 200, 200);
}


.table-column {
    -fx-pref-height: 45;
    -fx-alignment: CENTER;
    -fx-font-size: 14;
}


.table-row-cell:selected {
    -fx-background-color: rgb(40, 80, 80);
    -fx-text-background-color: WHITE;
    -fx-table-cell-border-color: transparent #dddddd transparent transparent;
}


.table-view {
    -fx-background-insets: 0;
}

/*table view columns*/
.filler, .column-header, .show-hide-columns-button {
    -fx-background-color: #dddddd, white, white;
}


.column-header:hover, .show-hide-columns-button:hover {
    -fx-background-color: #dddddd, white, #f8f8f8;
}

.column-header-background > .filler {
    -fx-border-color: transparent #dddddd transparent transparent;
    -fx-border-insets: 0 1 0 0;
}

.column-drag-header {
    -fx-background-color: rgb(40, 80, 80);
}


.jfx-snackbar-content {
    -fx-background-color: #323232;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

/* check box */

.jfx-check-box {
    -fx-font-weight: BOLD;
    -jfx-checked-color: rgb(40, 80, 80);
    -fx-text-fill: WHITE;

}

.jfx-toggle-button {
    -jfx-toggle-color: rgb(40, 80, 80);
}

/*
 * Market
 */
.market-list-view, .market-list-view .jfx-list-cell {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: rgb(180, 210, 210);
}

.market-list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: rgb(180, 180, 180);
}

.market-list-view .jfx-list-cell:hover {
    -fx-border-color: BLACK;
}