<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="phase2.trade.inventory.ItemList" />
        <mapping class="phase2.trade.inventory.Inventory" />
        <mapping class="phase2.trade.inventory.Cart" />
        <mapping class="phase2.trade.inventory.TradeItemHolder" />

        <mapping class="phase2.trade.trade.UserOrderBundle" />
        <mapping class="phase2.trade.trade.Trade" />
        <mapping class="phase2.trade.trade.Order" />

        <mapping class="phase2.trade.command.Command" />
        <mapping class="phase2.trade.item.command.ItemCommand" />
        <mapping class="phase2.trade.item.command.GetItems" />
        <mapping class="phase2.trade.item.command.GetMarketItems" />
        <mapping class="phase2.trade.item.command.AddItemToItemList" />
        <mapping class="phase2.trade.item.command.AlterItemInInventory" />
        <mapping class="phase2.trade.item.command.AlterWillingness" />
        <mapping class="phase2.trade.item.command.RemoveItem" />
        <mapping class="phase2.trade.item.command.ReviewItem" />

        <mapping class="phase2.trade.user.command.UserCommand" />
        <mapping class="phase2.trade.user.command.CreateUser" />
        <mapping class="phase2.trade.user.command.Login" />

        <mapping class="phase2.trade.address.Address" />
        <mapping class="phase2.trade.address.AddressBook" />
        <mapping class="phase2.trade.item.Item" />
        <mapping class="phase2.trade.user.User" />
        <mapping class="phase2.trade.permission.PermissionSet" />
        <mapping class="phase2.trade.user.AdministrativeUser" />
        <mapping class="phase2.trade.user.RegularUser" />
        <mapping class="phase2.trade.user.System" />
    </session-factory>
</hibernate-configuration>